html,body{
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
}

body{
  background-image: url("https://bing.shangzhenyang.com/api/1080p");
  
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  padding: 150px;
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

#start{
  background-color: #1E9FFF;
  border-radius: 1px;
  padding: 6px;
  border: none;
  color: white;
}

input{
  border-radius: 5px;
  padding: 3px;
  border: none;
}